* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.banner {
    height: 50vh;
    min-height: 30em;
    max-height: 50em;
    padding-top: 56px;
    background: #2e4672;
}

.logo {
    color: white;
    margin-left: 0;
    font-weight: bold;
    font-size: 30px;
}

.nav-items {
    color: white;
    font-weight: 400;
    padding-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav-items.active {
    padding-top: 16px;
    border-bottom: 3px solid orangered;
}

.nav-items:nth-child(2) {
    margin-left: auto;
}

/* .nav-items:last-child {
    margin-right: 0px;
    padding-right: 0px;
} */

.search {
    margin-top: 40px;
    align-items: center;
}

.search .text {
    color: white;
    font-size: 32px;
    text-align: center;
}

.search-input {
    display: flex;
    margin-top: 25px;
}

.search-input-item {
    padding: 10px !important;
}

.search-input-item-box{
    border-right: 1px solid grey !important;
}

@media only screen and (max-width: 600px) {
    .search-input-item {
        padding: 20px !important;
    }
    .search .text {
        color: white;
        font-size: 20px;
    }
    .content{
        display: none;
    }
    .carousel{
        top : 200px !important;
    }
    .search-input-item-box{
        border-bottom: 1px solid grey !important;
        border-right: none !important;
    }
    .logo{
        padding: 20px;
    }
    .nav-items{
        font-size: 1em;
    }
}

.search-input-item p {
    font-weight: 500;
}

.search-input-item:last-child {
    padding: 5px;
}


.datepicker-input input {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
}

.custom-select {
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    padding-top: 5px;
    margin-left: -3px;
    position: relative;
    padding-bottom: 5px;
    font-family: 'Roboto';
}

.content {
    width: 100%;
}

.static-content {
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    max-width: 1100px;
    justify-content: center;
    top: -7.5vw;
    position: relative;
}

.static-content .card {
    width: 15vw;
    height : 15vw;
    overflow: hidden;
}

.static-content .card-content {
    padding-top : 10px !important;
}

.static-content .card:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}

/* react-slick styles */

.slick-slide {
    width : 250px !important; /* width of accomodation card */
    padding : 25px !important;
}

