* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.banner {
    height: 75vh;
    display: flex;
    min-height: 30em;
    max-height: 50em;
    padding-top: 56px;
    background: #2e4672;
    justify-content: center;
}

.navigation {
    top: 0;
    width: 100%;
    display: flex;
    position: fixed;
    min-height: 56px;
    max-width: 1100px;
    align-items: center;
    justify-content: center;
}

.inner-nav {
    display: flex;
    align-items: center;
    width: calc(100% - 150px);
    max-width: 1100px;
}

.logo {
    color: white;
    margin-left: 0;
    font-weight: bold;
    font-size: 30px;
}

.nav-items {
    color: white;
    font-weight: 400;
    padding-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 12px;
}

.nav-items.active {
    padding-top: 16px;
    border-bottom: 3px solid orangered;
}

.nav-items:nth-child(2) {
    margin-left: auto;
}

.nav-items:last-child {
    margin-right: 0px;
    padding-right: 0px;
}

.search {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.search .text {
    color: white;
    font-size: 32px;
}

.search-input {
    display: flex;
    margin-top: 25px;
}

.search-input-item {
    padding: 15px;
    border-right: 1px solid grey;
}

.search-input-item p {
    font-weight: 500;
}

.search-input-item:last-child {
    padding: 5px;
    border-right: none;
}

.datepicker-input input {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
}

.custom-select {
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    padding-top: 5px;
    margin-left: -3px;
    position: relative;
    padding-bottom: 5px;
    font-family: 'Roboto';
}

.content {
    width: 100%;
}

.static-content {
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    max-width: 1100px;
    justify-content: space-around;
}

.static-content .card {
    width: 15vw;
    height : 15vw;
    overflow: hidden;
}

.static-content .card-content {
    padding-top : 10px !important;
}

.static-content .card:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}

/* react-slick styles */

.slick-slide {
    width : 250px !important; /* width of accomodation card */
    padding : 25px !important;
}

@media screen and (min-width: 993px) {
    .static-content {
        top: -50%;
        position: relative;
        justify-content: center;
    }
}

@media screen and (max-width: 992px) and (min-width: 821px) {
    .banner {
        background: #2e4672;
    }

    .inner-nav {
        width: calc(100% - 100px);
    }

    .nav-items {
        padding-left: 5px;
        padding-right: 5px;
    }

    .static-content {
        top: -50%;
        position: relative;
        justify-content: center;
    }

    .static-content .card {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 820px) and (min-width: 577px) {
    .banner {
        background: #2e4672;
    }

    .inner-nav {
        width: calc(100% - 20px);
    }

    .nav-items {
        padding-left: 5px;
        padding-right: 5px;
    }

    .static-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .static-content .card {
        width: 100%;
        max-width: 400px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 576px) {
    .banner {
        background: #2e4672;
    }

    .inner-nav {
        width: 100%;
    }

    .nav-items {
        padding-left: 5px;
        padding-right: 5px;
    }

    .static-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .static-content .card {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
