* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.banner {
    height: 75vh;
    min-height: 30em;
    max-height: 50em;
    padding-top: 56px;
    background: #2e4672;
}

.navigation {
    top: 0;
    width: 100%;
    display: flex;
    position: fixed;
    min-height: 56px;
    align-items: center;
    justify-content: center;
}

.inner-nav {
    display: flex;
    align-items: center;
    width: calc(100% - 150px);
    max-width: 1100px;
}

.logo {
    color: white;
    margin-left: 0;
    font-weight: bold;
    font-size: 30px;
}

.nav-items {
    color: white;
    font-weight: 400;
    padding-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 12px;
}

.nav-items.active {
    padding-top: 16px;
    border-bottom: 3px solid orangered;
}

.nav-items:nth-child(2) {
    margin-left: auto;
}

.search {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.search .text {
    color: white;
    font-size: 32px;
}

.search-input {
    display: flex;
    margin-top: 25px;
}

.search-input-item {
    padding: 15px;
    border-right: 1px solid grey;
}

.search-input-item p {
    font-weight: 500;
}

.search-input-item:last-child {
    padding: 5px;
    border-right: none;
}

.datepicker-input input {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
}

.custom-select {
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    padding-top: 5px;
    margin-left: -3px;
    position: relative;
    padding-bottom: 5px;
    font-family: 'Roboto';
}


@media screen and (max-width: 736px) {
    .banner {
        height: auto;
        min-height: inherit;
        background: #2e4672;
    }

    .inner-nav {
        width: 100%;
    }

    .nav-items {
        padding-left: 5px;
        padding-right: 5px;
    }
}